<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- H2 database connection settings -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:~/e_store</property>
        <property name="connection.username">anelia</property>
        <property name="connection.password">pass</property>
        <property name="hibernate.default_schema">PUBLIC</property>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">500</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

         <!--Echo all executed SQL to stdout-->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

        <!-- ENTITIES -->
        <!--
        <mapping package="org.itstep.entity"/>
        <mapping class="org.itstep.entity.Item"/>
        <mapping class="org.itstep.entity.User"/>
        <mapping class="org.itstep.entity.Order"/>
        <mapping class="org.itstep.entity.Cart"/>
        -->
    </session-factory>

</hibernate-configuration>